body { 
	font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
	margin-top: 10px;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#top-bar {
	width: 100%;
	color: white;
	background-color: #2288EE;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
