body { 
	font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#top-bar {
	width: 100%;
	color: white;
	background-color: #2288EE;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	height: 100%;
}

#container {
	height: 95%;
	width: 100%;
	position: absolute;
}